.aboutMe {
  margin-bottom: 2rem;
  text-align: center;
  &__title {
    text-align: center;
    font-size: 4rem;
    width: 80%;
    margin: 5rem auto;
    font-weight: 400;
  }
  &__description {
    font-size: 3rem;
    margin-top: 2rem;
    p {
      padding: 0 5px;
    }
  }
}

.myWorks {
  text-align: center;
  margin: 3rem;
  &__Btn {
    font-style: italic;
    font-size: 3rem;
    border: none;
    padding: 1rem;
    border-radius: 15px;
    cursor: pointer;
    color: $main-color;
    background: skyblue;
  }
}
