.header {
  .header-title {
    h1 {
      font-size: 3rem;
      text-align: center;
      margin: 2rem 0;
    }
    h2 {
      text-align: center;
      font-size: 2.3rem;
      margin-bottom: 2rem;
    }
  }

  .header-img {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    img {
      width: 280px;
      border-radius: 3px;
      box-shadow: 0 0 5px 1px $box-shadow;
    }
  }
}

.aboutMe {
  .aboutMe {
    &_description {
      font-size: 2rem;
      margin: 0 2rem; //
      text-align: left;
    }
  }
}
