.header {
  padding: 2rem;
  width: 90%;
  margin: 2rem auto;

  .header-title {
    text-align: center;

    h1 {
      font-size: 4rem;
      font-weight: bold;
      font-family: "Times New Roman", serif;
      margin: 2rem 0;
      color: black;
    }

    .hamburgerIcon {
      text-align: center;
      svg {
        width: 40px;
        height: 45px;
      }
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 400;
      font-family: Georgia, serif;
      color: #333;
      margin-top: 2rem;
      margin-bottom: -2.6rem;
      position: relative;
      z-index: 1;
    }
  }

  .header-img {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;

    img {
      width: 100%;
      max-width: 300px; /* Limit image size for a more refined look */
      border: 4px solid white; /* Add a white border around the image */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Apply a slight shadow to the image */
    }
  }
}

.aboutMe {
  .aboutMe {
    &_description {
      font-size: 2rem;
      margin: 0 2rem; //
      text-align: left;
    }
  }
}
